af_ZA.zip
am_AM.zip
ar_AR.zip
az_AZ.zip
bg_BG.zip
bn_BN.zip
ca_ES.zip
cop_EG.zip
csb_CSB.zip
cs_CZ.zip
cy_GB.zip
da_DK.zip
de_AT.zip
de_CH.zip
de_DE.zip
el_GR.zip
en_AU.zip
en_CA.zip
en_GB.zip
en_NZ.zip
en_US.zip
en_ZA.zip
eo_EO.zip
es_ES.zip
es_MX.zip
et_EE.zip
eu_ES.zip
fa_FA.zip
fa_IR.zip
fj_FJ.zip
fo_FO.zip
fr_FR.zip
fur_IT.zip
fy_NL.zip
ga_IE.zip
gd_GB.zip
gl_ES.zip
gsc_FR.zip
he_IL.zip
hi_IN.zip
hr_HR.zip
hu_HU.zip
hy_AM.zip
hyph_bg_BG.zip
hyph_cs_CZ.zip
hyph_da_DK.zip
hyph_de_CH.zip
hyph_de_DE.zip
hyph_el_GR.zip
hyph_en_CA.zip
hyph_en_GB.zip
hyph_en_US.zip
hyph_es_ES.zip
hyph_et_EE.zip
hyph_fi_FI.zip
hyph_fr_BE.zip
hyph_fr_FR.zip
hyph_ga_IE.zip
hyph_hu_HU.zip
hyph_id_ID.zip
hyph_is_IS.zip
hyph_it_IT.zip
hyph_lt_LT.zip
hyph_nl_NL.zip
hyph_pl_PL.zip
hyph_pt_BR.zip
hyph_pt_PT.zip
hyph_ro_RO.zip
hyph_ru_RU.zip
hyph_sk_SK.zip
hyph_sl_SI.zip
hyph_sv_SE.zip
hyph_uk_UA.zip
id_ID.zip
is_IS.zip
it_IT.zip
km_KH.zip
ku_TR.zip
la_LA.zip
lt_LT.zip
lv_LV.zip
mg_MG.zip
mi_NZ.zip
mn_MN.zip
mr_IN.zip
ms_MY.zip
myspell-genpackages.sh
nb_NO.zip
ne_NP.zip
nl_NL.zip
nn_NO.zip
nr_ZA.zip
ns_ZA.zip
ny_MW.zip
oc_FR.zip
or_OR.zip
pa_PA.zip
pl_PL.zip
pt_BR.zip
pt_PT.zip
qu_BO.zip
ro_RO.zip
ru_RU.zip
rw_RW.zip
sk_SK.zip
sl_SI.zip
ss_ZA.zip
st_ZA.zip
sv_SE.zip
sw_KE.zip
sw_TZ.zip
ta_TA.zip
tet_ID.zip
th_bg_BG.zip
th_cs_CZ.zip
th_de_CH.zip
th_de_DE.zip
th_en_US.zip
th_es_ES.zip
th_fr_FR.zip
th_hu_HU.zip
th_it_IT.zip
th_pl_PL.zip
th_ru_RU.zip
th_sk_SK.zip
th_TH.zip
tl_PH.zip
tn_ZA.zip
ts_ZA.zip
uk_UA.zip
uz_UZ.zip
ve_ZA.zip
vi_VI.zip
xh_ZA.zip
zu_ZA.zip
